html{
   background-color: rgb(0, 0, 0);

}

.body{
    align-items: center;
    text-align: center;
    -webkit-box-align: center;
    font-family: sans-serif;
    padding-left: 160px ;
    padding-right: 160px;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(0, 174, 255);
    
    
    
}

.mim{
    color: #FFF;
    text-decoration: underline rgb(0, 255, 255);
}

.ola{
  
    color: rgb(255, 255, 255);
    margin-top: 50px;
    padding-right: 500px;
    text-decoration: underline rgb(0, 255, 255);

  
}
.Imag{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 800%;
    padding-left: 100px;
    

}

.contato{
    display: flex;
    flex-direction: row;
    margin-bottom: 180px;
    padding-left: 200px;
    padding-top: 0px;
    width: 100px;
}


.baixar{
    font-size: 15px;
    width:150px ;
    height: 30px;
    color: #000;
    background-color: rgb(0, 174, 255);
   
}

.entre{
    color: #000;
    background-color: rgb(0, 174, 255);
    width:150px ;
    height: 30px;
    font-size: 15px;
   
}

#Sobre{

    color: rgb(255, 255, 255);
    text-decoration: underline rgb(0, 255, 255);

}
.Proje{ 
    
    color: rgb(255, 255, 255);
    text-decoration: underline rgb(0, 255, 255);

}
.Habili{

    color: rgb(255, 255, 255);
    text-decoration: underline rgb(0, 255, 255);

}

#hts{

    color: rgb(126, 126, 126);
    font-size: 20px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: justify;
    text-align: justify;
}

#Projetos{

    color: rgb(255, 255, 255);
    text-decoration: underline rgb(0, 255, 255);
    
}
 

.formulario{

    width: 400px;
    height: 300px;
    justify-content: space-between;
}

.calculadora{

    width: 400px;
    height: 300px;
    justify-content: space-between;
}

#habilidades{

    color: rgb(255, 255, 255);
    text-decoration: underline rgb(0, 255, 255);
}

.po{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    color: #FFF;
   
}

.hab{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 200px;
}

